
.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.alertBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-style: solid;
}

.outputBox {
    display: flex;
    justify-content: center;
}

form {
    height: 44rem;
}


nav {
    display: flex;
}

textarea {
    &#codeCSS, &#codeHTML {
        height: 15rem;
    }
    resize: none;
}

.dismiss {
    border-style: solid;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

h4 span {
    color: #5c4d3c;
    font-weight: bold;
}

div.dropzone, 
.colorBox {
    height: 10rem;
    width: 10rem;
}

.colorBox {
    border: none;
    clip-path: circle(35% at 50% 50%);
    cursor: pointer;
}

div.colorBox {
    cursor: auto;
    position: relative;
    z-index: 9;
}