
.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.alertBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-style: solid;
}

.outputBox {
    display: flex;
    justify-content: center;
}

form {
    height: 37rem;
}


nav {
    display: flex;
}

textarea#code {
    height: 32rem;
    resize: none;
}


.dismiss {
    border-style: solid;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

