
.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.alertBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 6px black solid;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    display: flex;
}



.dismiss {
    border: 6px black solid;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

